.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    width: 100%;
    background: rgb(32, 31, 31);
    color: #cdcdcd;
    padding: auto;
}

.navbar a{
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    color: #e4e2e2;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
.navbar a:hover{
    color: #adadad;
}
.fa-solid{
    font-size: 20px;
}